<component name="libraryTable">
  <library name="app" type="javaScript">
    <properties>
      <sourceFilesUrls>
        <item url="file://$PROJECT_DIR$/app.js" />
        <item url="file://$PROJECT_DIR$/appjs.js" />
        <item url="file://$PROJECT_DIR$/server.js" />
      </sourceFilesUrls>
    </properties>
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/app.js" />
      <root url="file://$PROJECT_DIR$/../Express/JavaScript/appjs.js" />
      <root url="file://$PROJECT_DIR$/server.js" />
    </SOURCES>
  </library>
</component>